@font-face {
  font-family: Junction;
  src: url("../fonts/junction-regular/Junction.otf") format("opentype");
}
body {
  background: #f2f2f2;
  font-family: Junction, sans;
  text-align: center;
}
#mynetwork {
  background: #9E0015;
}
